@font-face {
    font-family: 'OverpassMono-bold';
    font-style: bold;
    font-weight: 400;
    src: url("/src/assets/css/fonts/Overpass_Mono/Exo2-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'OverpassMono-light';
    font-style: light;
    font-weight: 600;
    src: url("/src/assets/css/fonts/Overpass_Mono/Exo2-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'OverpassMono-regular';
    font-style: regular;
    font-weight: 700;
    src: url("/src/assets/css/fonts/Overpass_Mono/Exo2-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'OverpassMono-semi-bold';
    font-style: semi-bold;
    font-weight: 900;
    src: url("/src/assets/css/fonts/Overpass_Mono/Exo2-SemiBold.ttf") format("truetype");
  }