
<nav class="navbar navbar-default">
  <div class="container text-primary header">
    <span  class="navbar-left" style="padding-right: 10px"><img style="max-width:140px;max-width:100px;margin-top: 3px" src="/assets/icons/index.png"></span>
    <a class="navbar-brand" style="color: rgb(8, 153, 20)">Welcome Seller</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(8, 153, 20)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(8, 153, 20)">About</a>
      </li>

    </ul>
    <span  class="navbar-right" style="padding-right: 10px"><img style="max-width:140px;max-height:7 0px;margin-top: 2px" src="/assets/icons/logo_colored.png"></span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="color: rgb(8, 153, 20)">
          <span class="glyphicon glyphicon-user" style="color: rgb(23, 93, 199)"></span> My Account</a>
      </li>
      <li>
        <a routerLink="../" style="color: rgb(8, 153, 20)">
          <span class="glyphicon glyphicon-log-out" style="color: rgb(199, 64, 23)"></span> Log out</a>
      </li>

    </ul>
  </div>
</nav>

<tabset #staticTabs [justified]="true">
    
  <tab heading="Properties" (select)="addProg()">
    <div class="container">
      <h2><b> My Listed Properties</b></h2>
      <p></p>
      <table class="table table-bordered" id='myTable'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Price</th>
            <th>Contact Info</th>

          </tr>
        </thead>
        <tbody>
          <tr (click)='onRowSelect(i)' *ngFor='let property of pp;index as i' [class.active]="i==selectedRow">
            <td>{{property.title}}</td>
            <td>{{property.location}}</td>
            <td>{{property.price | currency:'GBP':'symbol':'1.0-2'}}</td>
            <td>{{property.contact}}</td>


        </tbody>
      </table>
      <div class='text-center'>
        <button (click)="openModal(template)" class='btn btn-primary'>Add Property</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button [disabled]='disableFlag' id='deleteButton' (click)=onDelete() class='btn btn-danger'>Delete Property</button>
      </div>
    </div>

    <ng-template #template>
      <div class="modal-header">
        <h2 class="modal-title pull-left">Add Property</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAdd()">
          <div class='form-group'>
            <label for="ntitle">
              <span style="font-size:20px">Title</span>
            </label>

            <input type="text" [(ngModel)]='ntitle' class="form-control" id="ntitle" name="ntitle" placeholder="Enter Title" required
              autofocus />

          </div>
          <div class='form-group'>
            <label for="nlocation">
              <span style="font-size:20px">Location</span>
            </label>
            <input type="text" [(ngModel)]='nlocation' class="form-control" id="nlocation" name="nlocation" placeholder="Enter Location"
              required/>

          </div>
          <div class='form-group'>
            <label for="nprice">
              <span style="font-size:20px">Price</span>
            </label>

            <input type="number" [(ngModel)]='nprice' class="form-control" id="nprice" name="nprice" placeholder="Enter Price" required/>

          </div>
          <div class='form-group'>
            <label for="ncontact">
              <span style="font-size:20px">Contact</span>
            </label>
            <input type="number" [(ngModel)]='ncontact' class="form-control" id="ncontact" name="ncontact" placeholder="Enter Contact"
              required/>
          </div>
          <button [disabled]="checkAddDisable()" (click)="modalRef.hide()" class="btn btn-lg btn-primary btn-block " type="submit">Submit</button>
        </form>
      </div>
    </ng-template>
  </tab>
  <tab heading="Properties Under Transaction" >
      <div class="container">
            <h2> <b> Current Transactions</b></h2>
            <button (click)='getAllTps()' class="btn btn-danger btn-lg pull-right" style="margin-top: -3%;">Refresh</button>
            <p>Select a row and click on Proceed to continue</p>
            <table class="table table-bordered" id='myTable'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Buyer Name</th>
                  <th>Escrow Name</th>  
                  <th>Bank Name</th>
                  <th>Title Amount</th>
                  <th>Transaction Status</th>
                  
          
                </tr>
              </thead>
              <tbody>
                <tr (click)='onTpRowSelect(i)' *ngFor='let tp of this.helper.tps;index as i' [class.bg-primary]="i==selectedTpRow">
                  <td>{{tp.property.title}}</td>
                  <td>Buyer</td>
                  <td>Escrow</td>
                  <td>Bank</td>
                  <td>{{tp.property.price | currency:'GBP':'symbol':'1.0-2'}}</td>
                  <td>{{getTransStatus(tp.tp)}}</td>
                </tr>
              </tbody>
            </table>
            <div class='text-center'>
              <button [disabled]='proceedDisable' (click)="onProceed()" class='btn btn-primary'>Proceed</button>
            </div>
          </div>
    </tab>
  <tab heading="Notifications" (select)="addProg()">
    <div class="container">
      <h2><b>Notifications</b></h2>
      <button (click)="this.helper.checkStatus()" class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button>
      <ul class="list-group" style="font-size: 19px">
        <li *ngIf='check3not()' class="list-group-item">An amount of {{this.helper.property.price | currency:'GBP':'symbol':'1.0-2'}} generated from the sale of your listed property has been credited to your account.
        </li>
        <li style="padding-bottom: 30px" *ngIf='check2not()' class="list-group-item">Escrow Recieved 10% amount, Send title to escrow
          <button *ngIf='!check2Approval()' (click)='approve2()' class="btn btn-primary pull-right">Approve</button>
          <span *ngIf='check2Approval()' class="pull-right text-success">Approved
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <input type="file" [disabled]=check2Approval() style="font-size: 14px" class="pull-right" id="file" (change)="titleUp($event.target.files)">
        </li>
        <li style="padding-bottom: 20px" *ngIf='check1not()' class="list-group-item">Send Property details to Buyer

          <button *ngIf='!check1Approval()' (click)='approve1()' class="btn btn-primary pull-right">Send</button>
          <span *ngIf='check1Approval()' class="pull-right text-success">Sent Successfully
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <input type="file" [disabled]=check1Approval() style="font-size: 14px;margin-right: 10%;" class="pull-right" id="file" (change)="titleRecordUp($event.target.files)">
          

        </li>

      </ul>
    </div>
  </tab>
  <tab heading="Transaction Details" (select)="remProg()">
      <app-trans-table [helper]='helper'></app-trans-table>    
  </tab>
</tabset>



<div class="staticLogo">

</div>

<!-- Progress Bar Down Below -->
<div class="progBar" *ngIf="prog">
    <div class="container" style="width: 100%;">		
          
      <div class="row multistep">
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SN()'>
              <div class="text-center multistep-stepname">Seller Notified</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SApp()'>
               <div class="text-center multistep-stepname">Seller Approved</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApl()'>
               <div class="text-center multistep-stepname">Loan Application</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApr()'>
               <div class="text-center multistep-stepname">Loan Approval</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.PtoE()'>
               <div class="text-center multistep-stepname">Payment to Escrow</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.ERecT()'>
              <div class="text-center multistep-stepname">Escrow Received Title</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.MR()'>
              <div class="text-center multistep-stepname">Mortgage Received</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LAmtR()'>
              <div class="text-center multistep-stepname">Loan Amount Received</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SP()'> 
              <div class="text-center multistep-stepname">Seller Paid</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.BrecT()'>
              <div class="text-center multistep-stepname">Bank Received Title</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
       </div>
       
   </div>
  </div>
