<div *ngIf="transactions?.length;else no_data_templ" class="container" style="overflow-y: auto; width: 70vw">
    <h2>All Transactions</h2>
    <button [disabled]='disableDetails' (click)="lgModal.show();onDetails()" class="btn btn-info btn-lg pull-right" style="margin-top: -3%">Show Ledger Details</button>
    <button (click)='getAllTids()' class="btn btn-danger btn-lg pull-right" style="margin-top: -3%;margin-right: 4%;">Refresh</button>
    <p>Select a Row to View Transation Details</p>
    <table class="table table-bordered" id='myTable' >
      <thead>
        <tr>
         <th>Title</th>
          <th>Transaction Type</th> 
          <th>Transaction Description</th>
          <th>Transaction Done By</th>
          <th>Transaction Time</th>
          <th>Transaction ID</th>
  
        </tr>
      </thead>
      <tbody>
        <tr (click)='onTransRowSelect(i)' *ngFor='let trans of transactions;index as i' [class.bg-primary]="i==selectedTransRow">
            <td style="width: 10vw">{{trans.property.title}}</td>
          <td>{{trans.tType}}</td>
          <td style="width: 20%">{{trans.description}}</td>
          <td>{{trans.user}}</td>
          <td  style="width: 10vw">{{toDate(trans.createdAt)}}</td>
          <td>{{trans.tId}}</td>
          
  
      </tbody>
    </table>
  </div>

  <ng-template #no_data_templ>
      <div class="container">
        <button (click)='getAllTids()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-bottom: -5%">Refresh</button>
          <h2>No data found...</h2>
      </div>
      
        
    </ng-template>
<!-- Modal For Transaction-Details -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Transaction Details From BlockChain Ledger</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div *ngIf=amt style="text-align: center">
            <h1><b>Transaction Type : {{tType}}</b></h1>
            <table class="table table-dark table-bordered table-striped">
              <tr>
                <th>Transferred By</th>
                <th>Current Acc Balance</th>
                <th>Received By</th>
                <th>Current Acc Balance</th>
                <th>Amount Transferred</th>
                <th>Transaction Id</th>
              </tr>
              <tr class="table-primary">
                <td>{{from}}</td>
                <td>{{fromBal}}</td>
                <td>{{to}}</td>
                <td>{{toBal}}</td>
                <td>{{tAmt}}</td>
                <td>{{tid}}</td>
              </tr>
            </table>
              
          </div>
          <div *ngIf=ass style="text-align: center">
            <h1><b>Transaction Type : {{tType}}</b></h1><br>
            <!-- <pre>{{data}}</pre> -->
            <table class="table table-dark table-bordered table-striped">
                <tr>
                  <th>{{co}}</th>
                  <th>{{po}}</th>
                  <th>Propert Type</th>
                  <th>Encrypted Property</th>
                  <th>Transaction Id</th>
                </tr>
                <tr class="table-primary">
                  <td>{{coVal}}</td>
                  <td>{{poVal}}</td>
                  <td>{{t}}</td>
                  <td>{{tVal}}</td>
                  <td>{{tid}}</td>
                </tr>
              </table>

          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="lgModal.hide()">
        <span aria-hidden="true">Close</span>
      </button>
    </div>
    </div>
  </div>
</div>
 



<!-- <ng-template #template2> -->

      <!-- <div class="modal-header">
          <h4 class="modal-title pull-left">Transaction Details From BlockChain Ledger</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div *ngIf=amt>
                <h1>{{tType}}</h1>
                <table class="table table-dark table-bordered table-striped">
                  <tr>
                    <th>Transferred By</th>
                    <th>Current Acc Balance</th>
                    <th>Received By</th>
                    <th>Current Acc Balance</th>
                    <th>Amount Transferred</th>
                    <th>Transaction Id</th>
                  </tr>
                  <tr class="table-primary">
                    <td>{{from}}</td>
                    <td>{{fromBal}}</td>
                    <td>{{to}}</td>
                    <td>{{toBal}}</td>
                    <td>{{tAmt}}</td>
                    <td>{{tid}}</td>
                  </tr>
                </table>
                  
              </div>
              <div *ngIf=ass>
                <h1>{{tType}}</h1><br>
                <pre>{{data}}</pre>
                <table class="table table-dark table-bordered table-striped">
                    <tr>
                      <th>{{co}}</th>
                      <th>{{po}}</th>
                      <th>Propert Type</th>
                      <th>Encrypted Property</th>
                      <th>Transaction Id</th>
                    </tr>
                    <tr class="table-primary">
                      <td>{{coVal}}</td>
                      <td>{{poVal}}</td>
                      <td>{{t}}</td>
                      <td>{{tVal}}</td>
                      <td>{{tid}}</td>
                    </tr>
                  </table>
    
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">Close</span>
          </button>
        </div>
  </div> -->
    
  <!-- </ng-template> -->
  