<div class="parent">
        <div class="navbar">
                <div class="bcgif"></div>
                <div class="itcLogo"></div>
                <div class="hlfLogo"></div>
        </div>
        
        <div  class="left">
                <h3>What is Escrow?</h3>
                Escrow refers to a third-party<br>
                service that's usually mandatory in <br>
                a home purchase. When a buyer <br>
                and seller initially arrive at a <br>
                purchase agreement, they select a <br>
                neutral third party to act as the <br>
                escrow agent. The escrow agent <br>
                collects what is known as "earnest <br>
                money" from the buyer: a deposit <br>
                that is equal to a small percentage <br>
                of the sale price. In exchange, the <br>
                seller takes the property off the <br>
                market. Until the final exchange is <br>
                completed, both the buyer's <br>
                deposit and the seller's property <br>
                are said to be in escrow.
        
        </div>
        
        <div class="center">
            <div class="mapping"></div>
            <div class="escrow">
                <span class="esc">Escrow</span>
            </div>
            <div class="sellerBank">
            </div>
            <div class="seller">
            </div>
            <div class="title">
                <span class="ttl">Title</span>
            </div>
            <div class="lender">
            </div>
            <div class="buyer">
            </div>
        </div>
        
        <div  class="right">
            <div class="rightTabs">
                <h3>Data Immutability</h3>
                    Blockchain with its data immutability <br> and shared data features enables ease <br> of provenance tracking
            </div>
            <div class="rightTabs">
                <h3>Distributed Data</h3>
                    When nodes on Blockchain record <br> inventory updates, they are broadcasted to all other nodes which would help in real-time inventory visibility. 
            </div>
            <div class="rightTabs">
                <h3>Data Integrity</h3>
                    Permissions, Cryptography and <br> Hashing features of Blockchain will help <br> in proving transaction integrity thereby <br> building trust between participants.
            </div>
            <div class="rightTabs">
                <h3>Fast!!</h3>
                    Blockchain brings Buyers, Sellers and <br> Lenders together easily on single <br> network which can help in <br> communicating assets, plan schedules <br> and avoid delays
            </div>
        
        </div>
        
        <div class="gettingStarted">
            <a routerLink='/login' class='btn btn-large btn-primary'>Lets's Get Started</a>
        </div>
</div>
