<mat-toolbar id="buyerHead">
  <span class="pull-left"><img style="width:7vw;height:100%" src="/assets/icons/index.png"></span>
  <span>Welcome Buyer</span>
  <span (click)="goHome()">Home</span>
  <span (click)="goHome()" style="margin-left: 2px" style="color: rgb(23, 199, 38)">My Account</span>
  <span class="example-fill-remaining-space"></span>
  <mat-slide-toggle [checked]="dark" (change)="dark=!dark;toggleTheme()" color="accent">Dark theme</mat-slide-toggle>
  <span class="example-fill-remaining-space"></span>
  <span>About</span>
  <span routerLink="/login" style="margin-left: 2px" style="color: rgb(199, 64, 23)">Logout</span>
  <span class="pull-right"><img style="width:7vw;height:100%;" src="/assets/icons/logo_colored.png"></span>
</mat-toolbar>

<nav class="navbar navbar-default" id="materialMenu">
  <button [matMenuTriggerFor]="menu">
    <span class="glyphicon">&#xe012;</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/buyer'>
      <span class="glyphicon">&#xe021;</span>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <span class="glyphicon">&#xe085;</span>
      <span>About</span>
    </button>
    <button mat-menu-item>
      <span class="glyphicon" style="color: rgb(23, 199, 38)">&#xe008;</span>
      <span>My Account</span>
    </button>
    <a mat-menu-item href="http://localhost:4200/login">
      <span class="glyphicon" style="color: rgb(199, 64, 23)">&#xe163;</span>
      <span>Logout</span>
    </a>

  </mat-menu>

  <span style="color: rgb(23, 93, 199);margin-right: 5px;margin-left: 3px"> Welcome Buyer</span>
  <span class="pull-right" style="padding-right: 10px;height: 100%;margin-left: 10px"><img style="max-width:140px;max-height: 30px"
      src="/assets/icons/index.png"></span>
  <span class="pull-right" style="padding-right: 10px;height: 100%;margin-left: 10px"><img style="max-width:140px;max-height: 30px;margin-top: 3px;margin-right: 5px;"
      src="/assets/icons/logo_colored.png"></span>
</nav>
<tabset #staticTabs [justified]="true">
  <tab heading="Seller Notification">
    <div class="container escnot">
      <br>
      <br>
      <br>
      <h2 *ngIf='!checkSA()'>Awaiting Property details from Seller...</h2>
      <h2 *ngIf='checkSA()' class="text-success">Received Property details from Seller
        <span class="glyphicon glyphicon-ok"></span>
      </h2>
      <!-- <button (click)="this.helper.checkStatus()" class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- <h2 *ngIf='!checkSA()' class="text-warning">Not Recieved Yet</h2> -->
      <!--<h2 *ngIf='checkSA()' class="text-success">Recieved
        <span class="glyphicon glyphicon-ok"></span>
      </h2> -->
      <br><br>
      <!-- <button *ngIf='checkSA()' (click)="view('titleRecord')" style="font-size:25px">View Property Details</button> -->
      <button *ngIf='checkSA()' class="mat-elevation-z15" mat-stroked-button color="warn" (click)="view('titleRecord')" style="font-size:25px;margin-left: 10%;">View
        Property Details</button>

      <br>
      <br>
      <!-- <button *ngIf='checkSA()' (click)=selectTab(1) class="btn btn-lg btn-primary pull-right">Proceed</button> -->
      <button *ngIf='checkSA()' class="mat-elevation-z15" mat-raised-button color="primary" style="position:absolute;right:21vw;top:60vh" (click)=selectTab(1)>Move to Next Stage</button>

    </div>
  </tab>

  <tab heading="Apply for Loan">
    <div class="container escnot">
      <br>
      <br>
      <br>
      <h2 *ngIf='!checkBankApproval()'>Send Property details to Bank and apply for Mortgage</h2>
      <h2 *ngIf='checkRL()' class="text-success">Mortgage Applicaiton has been successfully approved
        <span class="glyphicon glyphicon-ok"></span>
      </h2>
      <!-- <button (click)='this.helper.checkStatus()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button> -->
      <br>
      <br>
      <h4>
        <!-- <input type="file"> -->
      </h4>
      <br>
      <!-- <button (click)='sendRecord()' *ngIf='!checkBankApproval()'  class=" btn btn-info btn-lg">Send Record</button> -->
      <button *ngIf='!checkBankApproval()' class="mat-elevation-z15" mat-raised-button color="primary" style="position:absolute;right:21vw;top:60vh" (click)='sendRecord()'>Send Details</button>
      <h2 *ngIf='checkBankApproval() && !checkRL()' class="text-info">Loan Application has been submitted
        for Bank approval.</h2>
      <br>
      <!-- <h2 *ngIf='!checkRL() && checkBankApproval()' class="text-warning">Not Approved Yet</h2> -->
      <br>
      <br>
      <!-- <button *ngIf='checkRL()' (click)=selectTab(2) class="btn btn-lg btn-primary pull-right">Proceed</button> -->
      <button *ngIf='checkRL()' class="mat-elevation-z15" mat-raised-button color="primary" style="position:absolute;right:21vw;top:60vh" (click)='selectTab(2)'>Move to Next Stage</button>

    </div>
  </tab>
  <tab heading="Escrow Notification">
    <div class="container escnot">
      <br>
      <h3>Transfer deposit Money (10% of Property price: {{property.price | currency:'GBP':'symbol':'1.0-2'}}) to Escrow.</h3>
      <br>
      <h4>Amount to be transferred : {{(0.1*property.price) | currency:'GBP':'symbol':'1.0-2'}} </h4>
      <!-- <button (click)='this.helper.checkStatus()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button> -->

      <br><br><br>
      <!-- <button *ngIf='!checkEA()' (click)="onTransfer10('Buyer','Escrow')" class="btn btn-primary btn-lg">Transfer Amount</button> -->
      <button *ngIf='!checkEA()' class="mat-elevation-z15" mat-raised-button color="primary"  (click)="onTransfer10('Buyer','Escrow')">Transfer Amount</button>

      <h2></h2>
      <div class="pull-left" style="margin-top: 7%">
        <!-- <h2 *ngIf='!checkEA()' class="text-warning">Not Transferred Yet</h2> -->
        <h2 *ngIf='checkEA()' class="text-success">Successfully Transferred
          <span class="glyphicon glyphicon-ok"></span>
        </h2>
      </div>

      <!-- <button *ngIf='checkEA()' style="margin-top: 9%" (click)=selectTab(3) class="btn btn-lg btn-primary pull-right">Move to Next Stage</button> -->
      <button *ngIf='checkEA()' style="position:absolute;right:21vw;top:60vh" class="mat-elevation-z15" mat-raised-button color="primary" (click)=selectTab(3)>Move to Next Stage</button>

      <!-- <app-balance-transfer></app-balance-transfer>           -->
    </div>
  </tab>
  <tab heading="Recieved Mortgage">
    <div class="container escnot">
      <br>
      <br>
      <br>
      <h2 *ngIf='!checkRM()'> Waiting for Mortgage Account opening...</h2>
      <h2 *ngIf='checkRM()' class="text-success">Mortgage Account created successfully.
        <span class="glyphicon glyphicon-ok"></span>
      </h2>
      <!-- <button (click)='this.helper.checkStatus()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- <h2 *ngIf='!checkRM()' class="text-warning">Not Recieved Yet</h2> -->
      <!-- <h2 *ngIf='checkRM()' class="text-success">Recieved
        <span class="glyphicon glyphicon-ok"></span>
        
      </h2> -->
      <br><br>
      <!-- <button *ngIf='checkRM()' (click)="view('mortgage')" style="font-size:25px">View Mortgage file</button> -->
      <button *ngIf='checkRM()' class="mat-elevation-z15" mat-stroked-button color="warn" (click)="view('mortgage')" style="font-size:25px;margin-left: 10%">View
        Mortgage Details</button>

      <br>
      <br>
      <!-- <h1 *ngIf='checkRM()' class="text-success text-center">Mortgage Recieved</h1> -->
      <!-- <button *ngIf='checkRM()'  (click)=selectTab(4) class="btn btn-lg btn-primary pull-right">Move to Next Stage</button> -->
      <button *ngIf='checkRM()' style="position:absolute;right:21vw;top:60vh" class="mat-elevation-z15" mat-raised-button color="primary" (click)=selectTab(4)>Move to Next Stage</button>

    </div>
  </tab>
  <tab heading="Remaining Process">
    <div class="container escnot">
      <br>
      <!-- <h3>Transfer remaining amount i.e. {{property.price -(0.1*property.price)}} to Escrow.....</h3> -->
      <h2 *ngIf='!checkTR()'>Waiting for remaining Transaction between Bank and Escrow</h2>
      <h2 *ngIf='checkTR()' class="text-success">Transaction Successfully Completed.
        <span class="glyphicon glyphicon-ok"></span>
      </h2>
      <!-- <button (click)='this.helper.checkStatus()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button> -->

      <br>
      <br>
      <br>
      <!-- <h3>Current Balance:- 400000000</h3>
          <br><br>
          <button (click)=onTransferRemaining() class="btn btn-primary btn-lg">Transfer Amount</button>
          <h2 *ngIf='checkTransferRemaining()' style="margin-top: 3%" class="text-warning">Transfered, Waiting for escrow approval...</h2> -->
      <br>
      <br>
      <div class="pull-left" style="margin-top: 10%">
        <!-- <h2 *ngIf='!checkTR()' class="text-warning">Not Completed Yet</h2> -->

      </div>

      <!-- <button *ngIf='checkTR()' style="margin-top: 12%" (click)=selectTab(4) class="btn btn-lg btn-primary pull-right">Move to Next Stage</button> -->
      <!-- <app-balance-transfer></app-balance-transfer>  -->

    </div>
  </tab>

</tabset>
<div class="progBar" *ngIf="prog">
  <div class="container" style="width: 100%;">

    <div class="row multistep">
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SN()'>
        <div class="text-center multistep-stepname">Seller Notified</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SApp()'>
        <div class="text-center multistep-stepname">Seller Approved</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>

      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApl()'>
        <div class="text-center multistep-stepname">Loan Application</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>

      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApr()'>
        <div class="text-center multistep-stepname">Loan Approval</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>

      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.PtoE()'>
        <div class="text-center multistep-stepname">Payment to Escrow</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.ERecT()'>
        <div class="text-center multistep-stepname">Escrow Received Title</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.MR()'>
        <div class="text-center multistep-stepname">Mortgage Received</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LAmtR()'>
        <div class="text-center multistep-stepname">Loan Amount Received</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SP()'>
        <div class="text-center multistep-stepname">Seller Paid</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
      <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.BrecT()'>
        <div class="text-center multistep-stepname">Bank Received Title</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <span class="multistep-dot"></span>
      </div>
    </div>

  </div>
</div>
<div class="staticLogo">

</div>