<nav class="navbar navbar-default">
  <div class="container">
      <a  class="navbar-left" style="padding-right: 10px"><img style="max-width:140px;max-width:100px;margin-top: 3px" src="/assets/icons/index.png"></a>
    <a class="navbar-brand" style="color: rgb(19, 163, 151)">Welcome Bank</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(19, 163, 151)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(19, 163, 151)">About</a>
      </li>
    </ul>
    <span  class="navbar-right" style="padding-right: 10px"><img style="max-width:140px;max-height:7 0px;margin-top: 2px" src="/assets/icons/logo_colored.png"></span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="color: rgb(19, 163, 151)">
          <span class="glyphicon glyphicon-user" style="color: rgb(23, 199, 38)"></span> My Account</a>
      </li>
      <li>
        <a href="http://localhost:4200/login" style="color: rgb(19, 163, 151)">
          <span class="glyphicon glyphicon-log-out" style="color: rgb(199, 64, 23)"></span> Log out</a>
      </li>

    </ul>
    
  </div>
  
</nav>

<tabset  #staticTabs [justified]="true">
  <tab heading="Properties Under Trasaction">
    <div class="container">
          <h2> <b>Current Transactions</b> </h2>
          <button (click)='getAllTps()' class="btn btn-danger btn-lg pull-right" style="margin-top: -3%;">Refresh</button>
          <p>Select a transaction and click on Proceed to continue.</p>
          <table class="table table-bordered" id='myTable'>
            <thead>
              <tr>
                <th>Title</th>
                <th>Buyer Name</th>
                <th>Seller Name</th>  
                <th>Escrow Name</th>
                <th>Title Amount</th>
                <th>Transaction Status</th>
                
        
              </tr>
            </thead>
            <tbody>
              <tr (click)='onTpRowSelect(i)' *ngFor='let tp of this.helper.tps;index as i' [class.bg-primary]="i==selectedTpRow">
                <td>{{tp.property.title}}</td>
                <td>Buyer</td>
                <td>Seller</td>
                <td>Escrow</td>
                <td>{{tp.property.price | currency:'GBP':'symbol':'1.0-2'}}</td>
                <td>{{getTransStatus(tp.tp)}}</td>
              </tr>
            </tbody>
          </table>
          <div class='text-center'>
            <button [disabled]='proceedDisable' (click)="onProceed()" class='btn btn-primary'>Proceed</button>
          </div>
        </div>
  </tab>
  <tab heading="Approval Requests/Notifications" (select)="addProg()">
    <div class="container">
      <h2><b>Notifications</b></h2>
      <button (click)='this.helper.checkStatus()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-top: -5%">Refresh</button>
      <ul class="list-group" style="font-size: 19px">
        <li *ngIf='check4not()' class="list-group-item">Title Recieved from Escrow, Notify Buyer!!
          <button *ngIf='!check4Approval()' (click)='approve4()' class="btn btn-primary pull-right">Approve</button>
          <span *ngIf='check4Approval()' class="pull-right text-success">Approved
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button  class="btn btn-success pull-right" (click)="view('title')">View Title</button>
        </li>
        <li *ngIf='check3not()' class="list-group-item">Transfer Remaining Fund to Escrow
          <button *ngIf='!check3Approval()' (click)="approve3('Lender','Escrow')" class="btn btn-primary pull-right">Approve</button>
          <span *ngIf='check3Approval()' class="pull-right text-success">Approved
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        </li>
        <li *ngIf='check2not()' style="padding-bottom: 30px" class="list-group-item">Escrow Recieved 10% amount and Title, Transfer Mortgage to buyer
          <button *ngIf='!check2Approval()' (click)='approve2()' class="btn btn-primary pull-right">Approve</button>
          <span *ngIf='check2Approval()' class="pull-right text-success">Approved
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <input type="file" [disabled]=check2Approval() style="font-size: 14px" class="pull-right" id="file" (change)="mortgageUp($event.target.files)">
        
        </li>
        <li *ngIf='check1not()' class="list-group-item">Loan application recieved.
          <button *ngIf='!check1Approval()' (click)='approve1()' class="btn btn-primary pull-right">Approve</button>
          <span *ngIf='check1Approval()' class="pull-right text-success">Approved
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button class="btn btn-success pull-right" (click)="view('titleRecord')">View Application</button>
        </li>

      </ul>
    </div>
  </tab>
  
  <tab heading="Transaction Details" (select)="remProg()">
      <app-trans-table [helper]='helper'></app-trans-table>
  </tab>
</tabset>
<ng-template #no_data_templ>
  <div class="container">
    <button (click)='getAllTids()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-bottom: -5%">Refresh</button>
      <h2>No data found...</h2>
  </div>
  
    
</ng-template>
 
<!-- Progress Bar Down Below -->
<div class="progBar" *ngIf="prog">
    <div class="container" style="width: 100%;">		
          
      <div class="row multistep">
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SN()'>
              <div class="text-center multistep-stepname">Seller Notified</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SApp()'>
               <div class="text-center multistep-stepname">Seller Approved</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApl()'>
               <div class="text-center multistep-stepname">Loan Application</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LApr()'>
               <div class="text-center multistep-stepname">Loan Approval</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
   
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.PtoE()'>
               <div class="text-center multistep-stepname">Payment to Escrow</div>
               <div class="progress"><div class="progress-bar"></div></div>
               <span class="multistep-dot"></span>
           </div>
           <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.ERecT()'>
              <div class="text-center multistep-stepname">Escrow Received Title</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.MR()'>
              <div class="text-center multistep-stepname">Mortgage Received</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.LAmtR()'>
              <div class="text-center multistep-stepname">Loan Amount Received</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.SP()'> 
              <div class="text-center multistep-stepname">Seller Paid</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
          <div class="col-xs-3 multistep-step disabled" [class.complete]='this.helper.BrecT()'>
              <div class="text-center multistep-stepname">Bank Received Title</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <span class="multistep-dot"></span>
          </div>
       </div>
       
   </div>
  </div>

<div class="staticLogo"></div>
<div class="logoName">Bank</div>
      
      
      
