@import 'custom-theme.scss';
@import 'light-custom-theme.scss';
@import '~@angular/material/theming';

@include mat-core();

.custom-theme {
  @include angular-material-theme($custom-theme);
}
.light-custom-theme {
  @include angular-material-theme($light-custom-theme);
}

$font-family-base: "OverpassMono-bold", sans-serif !default;
$font-family-base: "OverpassMono-regular", sans-serif !default;
$font-family-base: "OverpassMono-light", sans-serif !default;
$font-family-base: "OverpassMono-semi-bold", sans-serif !default;

.bg-img
{
    background-image: url('/assets/image/landing.jpg');
    background-position: center;
}

.body{
    overflow: hidden;
}

.modal-backdrop{
  z-index: 1;
}
