.table tr.active td {
    background-color:#123456 !important;
    color: white;
  }
  #buyerBody{
    background: url("/assets/image/db1\ \(2\).jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;  
  }
  .propertyTable{
    font-size: 3vh;
    text-align: center;
  }
  td{
    text-align: center;
  }
  #buyButton{
    opacity: 1.0;
  }
  table:hover{
    cursor: pointer
  }
a{
  cursor: pointer;
}
a:hover{
  color: rgb(12, 63, 141);
  font-weight: bold;
  font-size: 1vw;
}
.progBar{
  position: absolute;
  bottom: 10vh;
  left: 0vw;
  width: 80%;
  height: 15vh;
}


.container a{
    color: #e0e0e0;
    font-weight: bold;
    text-shadow: 2px, 2px, 2px, 2px black;
}

.container a:hover{
    cursor: pointer;
    color: #e0e0e0;
    font-weight: bold;
    text-shadow: 2px, 2px, 2px, 2px black;
    font-size: 1vw;
}

.staticLogo{
    background: url('/assets/icons/Buyerlogo2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 1vw;
    height: 15vh;
    width: 7vw;
}


