<div class="">
<nav id = "buyerHead" class="navbar navbar-default">
  <div class="container text-primary">
      <span  class="navbar-left" style="padding-right: 10px"><img style="max-width:140px;max-width:100px;margin-top: 3px" src="/assets/icons/index.png"></span>
    <a class="navbar-brand" style="color: rgb(23, 93, 199)">Welcome Buyer</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(23, 93, 199)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(23, 93, 199)">About</a>
      </li>
    </ul>
    <span  class="navbar-right" style="padding-right: 10px"><img style="width:10vw;height:6vh;margin-top: 2px;margin-right:1vw;" src="/assets/icons/logo_colored.png"></span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="color: rgb(23, 93, 199)">
          <span class="glyphicon glyphicon-user" style="color: rgb(23, 199, 38)"></span> My Account</a>
      </li>
      <li><a href="http://localhost:4200/login"  style="color: rgb(23, 93, 199)"><span class="glyphicon glyphicon-log-out"  style="color: rgb(199, 64, 23)" ></span> Log out</a></li>

    </ul>
  </div>
</nav>
<tabset [justified]="true">
    <tab heading="Listed Properties" (select)="addProgBar()">
<div class="container" style="width: 80%" id="buyerBody">
  <h2 class="text-center"><b>On-Sale Properties</b></h2>
  <p class="text-center">Select a Property to Buy. Click on Details to view property description.</p>
  <table class="table table-bordered " id='myTable'>
    <thead>
      <tr>
        <th class="propertyTable">Sl. No.</th>
        <th class="propertyTable">Property</th>
        <th class="propertyTable">Location</th>
        <th class="propertyTable">Price</th>
        <th class="propertyTable">Contact Info</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)='onRowSelect(i)' *ngFor='let property of pp;index as i' [class.active]="i==selectedRow">
        <td style="font-weight: bold">{{i+1}}</td>
        <td style="font-weight: bold">{{property.title}}</td>
        <td style="font-weight: bold">{{property.location}}</td>
        <td style="font-weight: bold">{{property.price | currency:'GBP':'symbol':'1.0-2'}}</td>
        <td style="font-weight: bold">+44-{{property.contact}}</td>
    </tbody>
  </table>
  <div class='text-center'>
    <button [disabled]='disableFlag' id='buyButton' (click)=onBuy() class='btn btn-danger'>Buy Property</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button [disabled]='disableFlag' type="button" class="btn btn-primary" (click)="lgModal.show();onView()">Property Details</button>
  </div>
</div>

</tab>
<tab heading="Current Transactions" (select)="addProgBar()">
      <div class="container">
          <h2><b>Current Transactions</b></h2>
          <button (click)='getAllTps()' class="btn btn-danger btn-lg pull-right" style="margin-top: -3%;">Refresh</button>
          <p>Select a record to continue the transaction</p>
          <table class="table table-bordered" id='myTable'>
            <thead>
              <tr>
                <th>Property</th>
                <th>Escrow Name</th>
                <th>Seller Name</th>  
                <th>Bank Name</th>
                <th>Title Amount</th>
                <th>Transaction Status</th>
                
        
              </tr>
            </thead>
            <tbody>
              <tr (click)='onTpRowSelect(i)' *ngFor='let tp of this.helper.tps;index as i' [class.bg-primary]="i==selectedTpRow">
                <td>{{tp.property.title}}</td>
                <td>Escrow</td>
                <td>Seller</td>
                <td>Bank</td>
                <td>{{tp.property.price | currency:'GBP':'symbol':'1.0-2'}}</td>
                <td>{{getTransStatus(tp.tp)}}</td>
              </tr>
            </tbody>
          </table>
          <div class='text-center'>
              <button [disabled]='disableContinue' id='continueButton' (click)=onContinue() class='btn btn-danger'>Proceed</button>
            </div>
        </div>        
</tab>

<tab heading="Transaction Details"  (select)="remvProgBar()">
    <app-trans-table [helper]='helper'></app-trans-table>     
</tab>

</tabset>

<ng-template #no_data_templ>
  <div class="container">
    <button (click)='getAllTids()' class="btn btn-danger btn-lg" style="margin-left: 90%;margin-bottom: -5%">Refresh</button>
      <h2>No data found...</h2>
  </div>
  
    
</ng-template>

</div>

<!-- Modal For Propert-Details -->

<!-- Modal For Transaction-Details -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h2 id="dialog-sizes-name1" class="modal-title">Property Details</h2>
      </div>
      <div class="modal-body">
          <div style="text-align: center">
              <span><h3><b>{{pTitle}}</b></h3></span>
              <span><h4><b>{{pAddr}}</b></h4></span>
            </div>
        <carousel>
          <slide>
            <img [src]="img1" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{img1lbl}}</h3>
              <h3>{{pPrice | currency:'GBP':'symbol':'1.0-2'}}</h3>
            </div>
          </slide>
          <slide>
            <img [src]="img2" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{img2lbl}}</h3>
              <h3>{{pPrice | currency:'GBP':'symbol':'1.0-2'}}</h3>
            </div>
          </slide>
          <slide>
            <img [src]="img3" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{img3lbl}}</h3>
              <h3>{{pPrice | currency:'GBP':'symbol':'1.0-2'}}</h3>
            </div>
          </slide>
          <slide>
              <img [src]="img4" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>{{img4lbl}}</h3>
                <h3>{{pPrice | currency:'GBP':'symbol':'1.0-2'}}</h3>
              </div>
            </slide>
        </carousel> 
        <div>
          <h2>Property Description :</h2>
          <h5>{{pDesc}}</h5>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="lgModal.hide()">
        <span aria-hidden="true">Close</span>
      </button>
    </div>
    </div>
  </div>
</div>

<!-- logo -->

<div class="staticLogo">

</div>